.menuGraficos{
    max-height: 30%;
}
.selectmenuGrafico{
    margin-left: 30px;
    margin-right: 30px;
}
#sel_graficos{
    display: flex;
    width: 100%
}
#opcoes_graficos{
    padding-top: 1%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: -10px;
}
#titulos_graficos{
    display: flex;
    width: 100%;
        padding-bottom: 1%;
}
.it_titulo{
    font-size: 20px;
    padding-left: 10%;
    padding-right: 10%;
}

.grafico{
     box-shadow: 0px 0px 40px 1px #888888;
    padding: 1px;
    margin-top 10px;
}

.formtSub{
    display: flex;
    justify-content: center;
    align-items: center;
}
.selectSub{
    height:45px;
    margin-left: 20px;
    margin-right: 20px;
}
.simulaText{
    font-size: 20px;
}
.uploadItem{
    border-top:1px solid black; padding: 3px;
}
.spanCarregando{
    display: block; float: right; color:cornflowerblue;
}
.spanCarregado{
    display: block; float: right; color:chartreuse;
}
.spanDuplicado{
    display: block; float: right; color:darkolivegreen;
}
.spanErroCarregamento{
    display: block; float: right; color:crimson;
}
.spanErroServidor{
    display: block; float: right; color:darkred;
}
.BoxFlex{
    display: flex;
    flex-flow: row wrap;
    justify-content: center
}
.BoxContent{
    border: 3px dotted rgb(138, 136, 136);
    height: 100px;
    width: 46%;
    margin: 8px;
    padding: 20px;
    border-radius: 10px;
    display: block;
    min-height: 120px;
}