<main role="main" class="col-md-9 ml-sm-auto col-lg-10 nav-pills ">
    <nav style="margin-top:-50px;">
        <div class="nav nav-tabs tabelas-n" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="0-INI-tabM" data-toggle="tab" href="#mosquitos-0-INI" role="tab" aria-controls="0-INI" aria-selected="true">0-INI</a>
            <a class="nav-item nav-link" id="1-MOV-tabM" data-toggle="tab" href="#mosquitos-1-MOV" role="tab" aria-controls="1-MOV" aria-selected="false">1-MOV</a>
            <a class="nav-item nav-link" id="2-CON-tabM" data-toggle="tab" href="#mosquitos-2-CON" role="tab" aria-controls="2-CON" aria-selected="false">2-CON</a>
            <a class="nav-item nav-link" id="3-TRA-tabM" data-toggle="tab" href="#mosquitos-3-TRA" role="tab" aria-controls="3-TRA" aria-selected="false">3-TRA</a>
            <a class="nav-item nav-link" id="4-CON-tabM" data-toggle="tab" href="#mosquitos-4-CON" role="tab" aria-controls="4-CON" aria-selected="false">4-CON</a>
            <a class="nav-item nav-link" id="5-GER-tabM" data-toggle="tab" href="#mosquitos-5-GER" role="tab" aria-controls="5-GER" aria-selected="false">5-GER</a>
        </div>
    </nav>
    <div class="tab-content box-tabela" id="nav-tabContent">
        <div class="tab-pane fade show active corpoTabela" id="mosquitos-0-INI" role="tabpanel" aria-labelledby="nav-home-tab"></div>
        <div class="tab-pane fade corpoTabela" id="mosquitos-1-MOV" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
        <div class="tab-pane fade corpoTabela" id="mosquitos-2-CON" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
        <div class="tab-pane fade corpoTabela" id="mosquitos-3-TRA" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
        <div class="tab-pane fade corpoTabela" id="mosquitos-4-CON" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
        <div class="tab-pane fade corpoTabela" id="mosquitos-5-GER" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
    </div>
</main>  
